@font-face {
    font-family:Helvetica-Medium;
    src: url("helvetica_medium.ttf");
  }

  ::-webkit-scrollbar {
    width: 2px;  /* Width of the scrollbar */
}


::-webkit-scrollbar-track {
    background: #FF007A;  /* Color of the track */
   
}


::-webkit-scrollbar-thumb {
    background: #00B701;  /* Color of the scrollbar handle */
   
}

html {
    scroll-behavior: smooth;
  }
.Q, .A, .archive, .kontakt {
    font-family:Helvetica-Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
   
    color:#00B701;
}

.Q, .kontakt {
    top:10px;
    position: fixed;
}

.A, .archive {
    bottom:10px;
    position: fixed;
}
.Q, .A {
    left:14px;
    
    
}

.archive, .kontakt {
    right:14px;
}

.artists {
    cursor: pointer;
    margin-top: 4%;
    font-family:Helvetica-Medium;
    font-size: 118pt;
    line-height: 104pt;
    letter-spacing: -0.5px;
    color:#00B701;
    text-align: center;
}

.a-text, .b-text, .c-text, .d-text {
    font-family:Helvetica-Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 4px;
    
    color:#FF007A;
    background-color: #00B701;
    text-align: left; 
    display: none;
}

p {
    margin: 0;
    padding: 0;
}
.description {
    font-family:Helvetica-Medium;
    font-size: 38pt;
    line-height: 38pt;
    letter-spacing: 0.5px;
     padding-top: 70px; 
    color:#00B701;
    margin-top: 7%;
    padding-bottom: 10%;
    
}

.main-cont {
    margin-right: 14px;
    margin-left: 14px;
}


.small {
    padding-top: 10px;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
   
}

.active-title {
    cursor: pointer;
    color:#FF007A;
    background-color: #00B701; /* Change to your desired background color */
}


.a-title{
margin:0;
padding: 0;
line-height: 0;

}

.a-title:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}
.b-title:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}
.c-title:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}
.d-title:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}
.q-events {
    font-size: 24px;
    line-height: 24px;
    font-family:Helvetica-Medium;
    color:#ffffff;
    
    padding: 4px;
    
}

.q-events:hover {
    color:#FF007A;
    background-color: #00B701;
}

.past-events{
    padding-bottom: 4%;
    padding-top: 4px;
    border-top: 1px solid #00B701;
    

}

.q-events-title {
    font-family:Helvetica-Medium;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.5px;
      
    color:#00B701;
}

.animated-background {
    animation: slideBackground 2s linear infinite;
}









img {
    height:20px;
    transition: all 300ms ease;
}
img:hover {
    height: 300px;
}


body{
    height:100vh;
    width:100%;
    background-color: #FF007A;
    margin: 0;
    
   
}

a{
 text-decoration: none;
 
 color:#00B701;
 cursor: pointer;
 
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}




@media screen and (min-width: 2801px) and (max-width: 3000px) {
    .Q, .A, .archive, .kontakt, .small {
        font-size: 42.6px;
        line-height: 42.6px;   
    }

    .a-text, .b-text, .c-text, .d-text {
        font-size: 42.6px;
        line-height: 44px; 
    }    
    .past-events, .q-events, .q-events-title{
        font-size: 42.6px;
        line-height: 42.6px; 
    }
    .description {
        margin-top: 10%;
        font-size: 92px;
        line-height: 94px; 
    }

    .artists {
        margin-top: 10%;
        font-size: 350px;
        line-height: 320px; 
    }
}





@media screen and (min-width: 2239px) and (max-width: 2800px) {
    .Q, .A, .archive, .kontakt, .small {
        font-size: 32px;
        line-height: 32px;   
    }

    .a-text, .b-text, .c-text, .d-text {
        font-size: 32px;
        line-height: 34px; 
    }   
    .past-events, .q-events, .q-events-title{
        font-size: 32px;
        line-height: 32px; 
    } 
    .description {
        margin-top: 8%;
        font-size: 70px;
        line-height: 72px; 
    }

    .artists {
        margin-top: 7%;
        font-size: 260px;
        line-height: 240px; 
    }
}











@media screen and (max-width: 767px) {

    .main-cont {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .Q, .A, .archive, .kontakt, .small, .past-events, .q-events, .q-events-title {
        font-size: 16px;
        line-height: 16px;   
    }

    .a-text, .b-text, .c-text, .d-text {
        font-size: 16px;
        line-height: 18px; 
    }   
   
    .description {
        margin-top: 8%;
        font-size: 16px;
        line-height: 18px; 
    }

    .artists {
        margin-top: 28%;
        font-size: 37px;
        line-height: 37px; 
        letter-spacing: -1px;
    }
    .past-events{
        padding-bottom: 20%;
    }

    .archive {
        top:10px;
        left:20px;
    }

    .Q {
        top:36px;
    }
}

